*.ccls-cache

.config/emacs/*
!.config/emacs/custom-set.el
!.config/emacs/init.el
!.config/emacs/java_setup.org
!.config/emacs/myinit.org
!.config/emacs/programminginit.org
!.config/emacs/.mc-lists.el

.config/zsh/.zcompdump
.config/zsh/.zcompcache
.config/zsh/history

.config/waybar/colors-waybar.css
.config/hypr/monitors.conf

.local/share/
.config/xournalpp/metadata
