@define-color critical #ff0000; /* critical color */
@define-color warning #f3f809;  /* warning color */

@define-color alert   #df3320;

@import 'colors-waybar.css';

* {
    border: none;
    font-family: "JetBrainsMono";
    font-size: 18px;
}

window#waybar {
    border: 2px solid white;
    /* border-radius: 4px; */
    background-color: @background;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 6px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#mode {
    background-color: #64727D;
    border-bottom: 1px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-power,
#custom-pacman,
#window,
#workspaces,
#language {
    padding: 0px 3px;
    margin: 4px 1px;
    color: @foreground;
    background-color:transparent;
}

#workspaces button {
    padding: 0;
    background-color: transparent;
    color: #ffffff;
    min-width: 36px;
}

#workspaces button.active {
    padding: 0;
    background-color: #ddddff;
    color: #303030;
    min-width: 36px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #bbccdd;
    color: #323232;
}

#workspaces button.urgent {
    color: red;
}

#clock {
    color: @foreground;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: @color5;
}

#memory {
    color: @color8;
}

#network {
    color: @color6;
}

#network.disconnected {
    color: @alert;
}

#battery {
    color: @color6;
}

#battery.charging, #battery.plugged {
    color: @color1;
}

#pulseaudio {
    color: @color5;
}

#pulseaudio.muted {
    color: #a0a0a0;
}

#temperature {
    color: @color6;
}

#temperature.critical {
    background-color: @critical;
}

#custom-separator {
    color: #606060;
    margin: 0 1px;
}
